<div id = "new_craft_step_guide">
  <ul id = "step_infographic">
    <li class="step_selected">Step 1</li>
    <div class="step_line">&#8594</div>
    <li>Step 2</li>
    <div class="step_line">&#8594</div>
    <li>Step 3</li>
  </ul>
  <div id="step_explanation">
    <h1>Pendaftaran Craft</h1>
    <ol>
      <li>Pada tahap ini kamu hanya perlu menentukan nama dari Craft, sebaiknya buat yang unik supaya tidak keliru dengan hasil craft orang lain</li>
      <li>Masukan Kategori dan Subkategori dari karya yang ingin kamu publish, Kategori adalah jenis barang secara umum, sementara subkategori adalah jenis barang yang lebih detail </li>
      <li>Sebagai Contoh, Kategori = "Mobil", Subkategori = "Mobil 2 Pintu" </li>
      <li>Subkategori tidak harus diisi namun akan sangat memudahkan dalam pencarian barang </li>
    </ol>
  </div>
</div>
<div id = "new_user_craft"%>
<h1>Step 1</h1>
<%= form_for @craft do |craft|%>
      <li>
        <%= craft.hidden_field :user_id , :value => params[:user_id]%>
      </li>
        <div class="u_c_input">
         <div class="u_c_label_left"><%= craft.label 'Judul Karya'%></div>
          <%= craft.text_field :name %>
        </div>
        <div class="u_c_input">
          <div class="u_c_label_left"><%= craft.label :category%></div>
          <%= craft.collection_select :category, @categories, :name, :name, :prompt=>true %>
        </div> 
        <div class="u_c_input">
            <div class="u_c_label_left"><%= craft.label :subcategory %></div>
            <%= craft.collection_select :subcategory, @subcategories, :name, :name, :prompt=>true %>
        </div>
       
      
      <%= craft.submit 'NEXT',:class=>'step_submit'%>
<%end%>
</div>