<div id = "Main Container">
	<div id = "home_container">
			
		<div class = "banner">
			<% @banner.each do |img|%>
				<%=image_tag(img.banner_url(:display).to_s) %>
			<%end%>
		</div>
		<hr>
		<br>
	<% if @craft %>	
	<div id = "middler">
	<div id = "product_helper_menu">
		<%if params[:type]%>
	We Found <b><%= @craft.count %></b> items! for <b><%= params[:type] %></b>
	<%end%>
	</div>
		<div id = "product_helper_container">
			<%= render 'shop_helper'%>
		</div>
		<div id = "product_display_container">
			<% @craft.each do |f|%>
			<div id = "index_image_display_container">
				<div id = "index_image_display">
					<%
					 @image_craft = ProductImage.find_by(:craft_id=>f.id)
					%>
					<!--we set data-no-turbolink to true because owlcarousel behave weird with turbolink, it seems to get the properties from another script from another page-->
					<%= link_to image_tag(@image_craft.prod_img_url(:thumb).to_s), craft_path(f.slug), :"data-no-turbolink" => true%>
				</div>
					<div id = "index_product_summary">
						<b><%= link_to f.name,craft_path(f.slug) %></b>
						<ul>
							<li><%= f.subcategory%></li>
							<% if f.brand_id
							@brand = Brand.find(f.brand_id)
							%>
							<li><%= @brand.name%></li>
							<%end%>	
							<li><%=f.subject%> : <%= number_to_currency(f.price, :unit => "Rp. ")%></li>
						</ul>
					</div>
				</div>
			<%end%>
				<div class = "pagination">
					<%= will_paginate @craft%>
				</div>
			</div>
				<%else%>
					<p> Product Not Found </p>
				<%end%>
			</div>
		</div>
</div>
<script type="text/javascript">
//to check owl-carousel properties: http://owlgraphic.com/owlcarousel/
$(document).ready(function(){
	$(".owl-carousel").owlCarousel({
	    autoPlay: 3000, //Set AutoPlay to 3 seconds
	    singleItem: true,
	    itemsDesktop: [1199, 3],
	    itemsDesktopSmall: [979, 3]
  });
});
</script>