<div id = "user_container">
	<div class="user_page_left">
		<div id ="prof_pic" class="user_page_left">
			<% if @user && @user.profpic %>
			<%= image_tag @user.profpic.split("=")[0] <<"=large"%>
			<%end%>
		</div>
		<div id = "user_personal_menu_container">
			<%= render 'users/usermenuhelper' %>
		</div>
	</div>
	
	<div id = "user_content_container" class= "user_page_right">
		<!--Steps-->
		<%= render 'craft_guide_step2'%>
		<br>
		<h1><%= @craft.name %></h1>
		</br>
			<div id = "select_category_container">
				<%= form_tag 'custom_craft_step1',:id=>'custom_craft_form' do %>
					<% @category.each do |category|%>
						<li>
							<%if @purpose%>
								<%= check_box_tag 'category_selected[]',category.purpose,(@purpose.include? category.purpose) ? checked = true : checked = false ,class: 'checkbox_material'%>
								<%= category.purpose %>
								<!--transfer the craft.id-->
								<%= hidden_field_tag 'craft_id',@craft.id%>
							<%else%>
							<!--we have no session record the frist call-->
								<%= check_box_tag 'category_selected[]',category.purpose ,checked = false,class: 'checkbox_material'%>
								<%= category.purpose %>
							<%end%>
						</li>

					<%end%>
				<%end%>
			</div>
			<%= form_tag 'custom_craft_step3' do %>
			<!--transfer the craft.id-->
			<%= hidden_field_tag 'craft_id',@craft.id%>
			<div id = "display_material_container">
				<%if @purpose %>
					<% @purpose.each do |purpose| %>
						<% materials = Material.where(:purpose => purpose).where(:user_id=>@craft.user_id)%>
						<h2 id = "material_category"><%= purpose%></h2>
						<% materials.each do |material|%>						
							<div class = "material_pic_thumb"><%= image_tag material.picture_url(:thumb) , :class=>'material_img' %>
							<%= check_box_tag 'material_selected[]',material.id%>
							</div>	
						<%end%>
					<%end%>
				<%end%>
			</div>
		<%= submit_tag 'Lanjut', :class=>'step_submit'%>
		<%end%>
	</div>

</div>
<script>
$(document).ready(function(){
	$(".material_pic_thumb").click(function(){
		
		$(this).toggleClass('material_checked');
		if ($(this).is('.material_checked')){
			$(this).find('input:checkbox').prop('checked',true);
		}else{
			$(this).find('input:checkbox').prop('checked',false);
		}
	});
	$(".checkbox_material").click(function(){
		$("#custom_craft_form").submit();
	});
});
</script>
