<div id = "user_container">
	<div class="user_page_left">
		<div id ="prof_pic" class="user_page_left">
			<% if @user && @user.profpic %>
			<%= image_tag @user.profpic.split("=")[0] <<"=large"%>
			<%end%>
		</div>
		<div id = "user_personal_menu_container">
			<%= render 'users/usermenuhelper' %>
		</div>
	</div>
	
	<div id = "user_content_container" class= "user_page_right">
		<!--Create new craft-->
		<%= link_to 'New Craft', new_craft_path(:user_id=>params[:user_id]) %>
		<!--display all of the user craft-->
		<li class="user_personal_menu"><%=link_to 'Customize Craft',new_custom_craft_crafts_path(:user_id => session[:user_id])%></li>
		<%unless @craft.blank? %>
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Deskripsi</th>
					<th>Harga</th>
					<th>show</th>
					<th>edit</th>
					<th>delete</th>
				</tr>
			</thead>
			<tbody>
			<% @craft.each do |craft| %>		
				<tr>
					<td><%= link_to craft.name, karya_crafts_path(:id=>craft.id)%></td>
					<td>Belum menulis deskripsi</td>
					<td>Belum memasukan Harga</td>
					<td>show</td>
					<td><%= link_to 'edit' , edit_custom_craft_craft_path(craft.id)%></td>
					<td>delete</td>
				</tr>
			<%end%>
			</tbody>
			</table>
			<%else%>
			<p>Kamu belum pernah membuat craft</p>
		<%end%>
	</div>

</div>