<div id = "user_container">
	<div class="user_page_left">
		<div id ="prof_pic" class="user_page_left">
			<% if @user && @user.profpic %>
			<%= image_tag @user.profpic.split("=")[0] <<"=large"%>
			<%end%>
		</div>
		<div id = "user_personal_menu_container">
			<%= render :template => 'users/_usermenuhelper' %>
		</div>
	</div>
	<div id = "user_personal_menu" class= "user_page_right">
		<ul>
			
			
		</ul>
	</div>
	<p>Upload Your Project!</p>
	<div id = "user_content_container" class= "user_page_right">
		
		
		
<%= form_for(@workshop) do |f| %>
  <% if @workshop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workshop.errors.count, "error") %> prohibited this workshop from being saved:</h2>

      <ul>
      <% @workshop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
    <div id = "form_workshop_container">
      <div class="field">
        <%= f.label 'What is it called?' %><br>
        <%= f.text_field :title, :size => "50%x20", :class=>'title_box' %>
      </div>
      <div class="field">
        <%= f.label 'Tell us your story' %><br>
        <%= f.text_area :description, :size => "100x500", :class=>'textarea_box' %>
      </div>
      <div class="field">
        <%= f.label 'Let others review your work, publish now!' %><br>
  
      </div>
        <!--hidden_info-->
        <%= f.hidden_field :connector, value: @workshop.connector %>
        <%= f.hidden_field :user_id , :value => @workshop.user_id %>
        <!--hidden info end-->
      <div class="actions">
        <%= f.submit 'Submit',:class=>'workshop_button',:id => 'submit_workshop', :value => 'Publish Now!'%>
        <%= f.submit 'Save and Quit',:class=>'workshop_button',:id => 'save_workshop', :value => 'Save & Publish Later'%>
      </div>
    </div>
    <div id = "upload_pic_box">
      <!--dif approach begin-->
      <h3>Klik disini untuk upload gambar</h3>
      <%= link_to('Upload', new_workshop_image_path(:connector=>@workshop.connector), :class => 'iframe') %>
      <br>       
          <%= link_to('refresh',get_thumb_pic_workshops_path(:connector => @workshop.connector), :remote=>true)%>
         <!--Calling the ajax file for display image-->
          <div id = "uploaded_workshop_pic_box"></div>
      <!--dif approach end-->
    </div>
    
    
        
<% end %>
<script>
  $(".textarea_box").jqte({
    underline: false,
    source: false,
    remove: false,
    sub:false,
    sup:false,
    fsize:false
  });
</script>
	</div>
<div id = "list_o">

</div>

	</div>
