<div id = "user_container">
  <div class="user_page_left">
    <div id ="prof_pic" class="user_page_left">
      <% if @user && @user.profpic %>
      <%= image_tag @user.profpic.split("=")[0] <<"=large"%>
      <%end%>
    </div>
    <div id = "user_personal_menu_container">
      <%= render :template => 'users/_usermenuhelper' %>
    </div>
  </div>
  <div id = "user_personal_menu" class= "user_page_right">
    <ul>
      <li class = "user_menu_button" style="background-color:#58ACFA;color:black;border-bottom:none;"><%=link_to 'Workshop',workshop_user_path(:id => session[:user_id])%></li>
      
    </ul>
  </div>
  
  <div id = "user_content_container" class= "user_page_right">
    <p>Upload Your Project!</p>
    <p>Upload hasil craft apa buat table baru khusus untuk hasil craft yang nggak dijual ya? nanti kalau si crafter memutuskan untuk dijual kita buatkan tombol yang nyambung ke craft table?</p>
    <%= link_to 'New Workshop', new_workshop_path(:user_id => @user.id) %>
    <h1>Listing workshops</h1>
    <% if @workshops == nil %>
          Belum ada craft
      <%else%>
      <div id ="list_workshop_container">
        <% if @workshops_published %>
          <% @workshops_published.each do |workshop|%>
          <% @image = WorkshopImage.where(:display_pic => 'DP').find_by(:workshop_id => workshop.id)%>
          <div id = "workshop_item_container">
              <%if @image %>
                  <%= link_to image_tag(@image.craft_image_url(:medium_thumb).to_s),workshop_path(workshop.id) %>
               <%else%>
                  <div id ="no_workshop_pic">No Picture Yet!</div>         
              <%end%>
              <div id = "workshop_item_details">
            <%= link_to workshop.title, workshop_path(workshop.id)%>
              </div>
          </div>
          <%end%>
        <%end%>
      </div>
      <div id ="list_workshop_container">
        <% if @workshops_no_publish %>
          <% @workshops_no_publish.each do |workshop| %>
          <% @image = WorkshopImage.where(:display_pic => 'DP').find_by(:workshop_id => workshop.id)%>
          <%if @image %>
            <%= @image.craft_image%>
          <%end%>
            <%= workshop.id %>
            <%=workshop.title%>
          <%end%>
        <%end%>
      </div>
      <table>
        <thead>
          <tr>
            <th>Craft image</th>
            <th>Title</th>
            <th>Description</th>
            <th>User</th>
            <th>Publish status</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @workshops.each do |workshop| %>
            <tr>
              <td><%= workshop.craft_image %></td>
              <td><%= workshop.title %></td>
              <td><%= workshop.description %></td>
              <td><%= workshop.user_id %></td>
              <td><%= workshop.publish_status %></td>
              <td><%= link_to 'Show', workshop %></td>
              <td><%= link_to 'Edit', edit_workshop_path(workshop) %></td>
              <td><%= link_to 'Destroy', workshop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <%end%>
  </div>
<div id = "list_o">

</div>

  </div>



<br>


