<div id = "user_container">
  <div class="user_page_left">
    <div id ="prof_pic" class="user_page_left">
      <% if @user && @user.profpic %>
      <%= image_tag @user.profpic.split("=")[0] <<"=large"%>
      <%end%>
    </div>
    <div id = "user_personal_menu_container">
      <%= render :template => 'users/_usermenuhelper' %>
    </div>
  </div>
  <div id = "user_personal_menu" class= "user_page_right">
    <ul>
      <li class = "user_menu_button" style="background-color:#58ACFA;color:black;border-bottom:none;"><%=link_to 'Workshop',workshop_user_path(:id => session[:user_id])%></li>
      
    </ul>
  </div>
  
  <div id = "user_content_container" class= "user_page_right">
    <p>Upload Your Project!</p>
    <p>Workshop adalah tempat crafter bisa menaruh dan Publish project individual craft terbaru atau tutorial crafting, Karya yang di Publish akan muncul di newsfeed dan dapat di review oleh crafter lain </p>
    <%= link_to 'New Workshop', new_workshop_path(:user_id => @user.id),:"data-no-turbolink" => true, :class=>'workshop_button_new' %>
    <h1>Published Workshops</h1>
    <% if @workshops == nil %>
          Belum ada craft
      <%else%>
      <div id ="list_workshop_container">
        <% if @workshops_published %>
          <% @workshops_published.each do |workshop|%>
          <% @image = WorkshopImage.where(:display_pic => 'DP').find_by(:workshop_id => workshop.id)%>
          <div id = "workshop_item_container">
              <%if @image %>
                  <%= link_to image_tag(@image.craft_image_url(:medium_thumb).to_s),workshop_path(workshop.id) %>
               <%else%>
                  <div id ="no_workshop_pic">No Picture Yet!</div>         
              <%end%>
              <div id = "workshop_item_details">
            <%= link_to workshop.title, workshop_path(workshop.id)%>
              </div>
          </div>
          <%end%>
        <%end%>
      </div>
      <!--Pending Workshop Session-->
      <!--this code below to prevent users from looking other users unpublished workshop-->
      <% if @workshops_no_publish.count > 0 %>
        <% if params[:user_id] == @workshops_no_publish[0].user_id %>
        <h1>Pending Workshops</h1>
      <div id ="list_workshop_container">
        
          <% @workshops_no_publish.each do |workshop| %>
          <% @image = WorkshopImage.where(:display_pic => 'DP').find_by(:workshop_id => workshop.id)%>

          <div id = "workshop_item_container">
              <%if @image %>
                  <%= link_to image_tag(@image.craft_image_url(:medium_thumb).to_s),workshop_path(workshop.id) %>
               <%else%>
                  <div id ="no_workshop_pic">No Picture Yet!</div>         
              <%end%>
              <div id = "workshop_item_details">
            <%= link_to workshop.title, workshop_path(workshop.id)%>
              </div>
          </div>
          <%end%>
        <%end%>
      </div>
      <%end%>
      </table>
    <%end%>
  </div>
<div id = "list_o">

</div>

  </div>



<br>


