<ul>
	<li>Nama : <%= @customer.name %></li>
	<li>eMail : <%= @customer.email %></li>
	<li>Alamat :<%= @customer.address %></li>
	<li>Phone: <%= @customer.phone %></li>
</ul>
<table id = "cart_table">
	<th>Product</th>
	<th>Harga</th>
	<th>Quantity</th>
	<th>Total</th>
	<th class= "remove_item">Delete</th>

	<%
		session[:cart].each do |id , quantity|
			product = Inventory.find_by(:id => id)
			prod_img = ProductImage.find_by(:inventory_id => id)
	%>
		<tr>
			<td>
				<ul>
					<li id ="cart_prod_image">
					<%= link_to(image_tag(prod_img.prod_img_url(:medium_thumb).to_s),prod_img.prod_img.to_s, :class=>"fancybox")%>
					</li>
					<li class ="cart_prod_detail"><b><%= link_to product.name, inventory_path(product.id)%></b></li>
					<li class ="cart_prod_detail"><i><%= product.category %></i></li>
					<li class ="cart_prod_detail">Ukuran: <%= product.meter %> <%=product.ukuran%></li>
					<li class ="cart_prod_detail">Material: <%= product.material %></li>
				</ul>
			</td>
			<td>
				<div id ="p"><%= number_to_currency(product.sellprice, :unit => "Rp. ") %></div>
			</td>
			<td>
				<div id="cart_quantity">
					<%= quantity %>
				</div>

				
			</td>
			<td>
				<div id = "result_price"><%= number_to_currency(product.sellprice * quantity.to_i, :unit => "Rp. ") %></div>
			</td>
			<td class= "remove_item">
				<p><%= link_to('Remove', cart_clear_path(:id => product.id)) %></p>
			</td>
		</tr>
		
<%end%>
		<tr colspan = "5" syle="border:solid 1px black;">
			<td colspan = "3"><h2>Total Order</h2></td>
			<td id ="total"><h2><%=number_to_currency(@total.inject(:+), :unit => "Rp. ")%></h2></td>
		</tr>
</table>



<%= form_for(@order), :url => {:action =>'create'} do |f| %>
	customer id = <%= @customer.id %>
	<%= f.hidden_field :customer_id, :value => @customer.id %>
	<%= f.hidden_field :order_status_id, :value => 1%>
	<%if %>
	<%= f.hidden_field :readyorpo, value: 'PO' %>
	<%end%>
	<% session[:cart].each do |id , quantity| %>
		<%= f.fields_for :inventory_orders do |qty| %>
              <%= qty.hidden_field :inventory_id, value: id %> <!--id of inventory--> 
              <%= qty.hidden_field :quantity,value: quantity, :step => 'any'%>
        <%end%>
	<%end%>
<%= submit_tag "Order Now!" %>
<% end %>
