<div id ="Main_Container">
	<%= render 'helpermenu' %>
	<br>
	<%= render 'checkoutpohelper' %>
<%= form_for @order, :url => {:controller => 'order_pos', :action =>'create'} do |f| %>
	<%= f.hidden_field :customer_id, :value => @customer.id %>
	<%= f.hidden_field :order_status_id, :value => 1%>
	<%if %>
	<%= f.hidden_field :readyorpo, value: 'PO' %>
	<%= f.hidden_field :cust_notes, value: @cust_notes %>
	<%end%>
	<% session[:cart_po].each do |id , quantity| %>
		<%= f.fields_for :inventory_orders do |qty| %>
              <%= qty.hidden_field :inventory_id, value: id %> <!--id of inventory--> 
              <%= qty.hidden_field :quantity,value: quantity, :step => 'any'%>
        <%end%>
	<%end%>
		<%= submit_tag "Complete Checkout!", :class => "submit_button" %>
<% end %>
	</div>
	<%= render 'checkoutmsg' %>
</div>
