<div id = "Main_Container">
<h1>Belanjaan Kamu~</h1>
<%= render 'helpermenu' %>
<% if session[:cart]%>
<hr>
<br>
<h1 style="text-align:center;">1. Keranjang -> 2. Input Alamat -> 3. Konfirmasi</h1>
</br>
<%= form_tag(cart_addquantity_path) do %>
<table id = "cart_table">
	<th>Product</th>
	<th>Harga</th>
	<th>Quantity</th>
	<th>Total</th>
	<th class= "remove_item">Delete</th>

	<%
		session[:cart].each do |id , quantity|
			product = Inventory.find_by(:id => id)
			prod_img = ProductImage.find_by(:inventory_id => id)
	%>
		<tr>
			<td>
				<ul>
					<li id ="cart_prod_image">
					<%= link_to(image_tag(prod_img.prod_img_url(:medium_thumb).to_s),prod_img.prod_img.to_s, :class=>"fancybox")%>
					</li>
					<li class ="cart_prod_detail"><b><%= link_to product.name, inventory_path(product.id)%></b></li>
					<li class ="cart_prod_detail"><i><%= product.category %></i></li>
					<li class ="cart_prod_detail">Ukuran: <%= product.meter %> <%=product.ukuran%></li>
					<li class ="cart_prod_detail">Material: <%= product.material %></li>
				</ul>
			</td>
			<td>
				<div id ="p"><%= number_to_currency(product.sellprice, :unit => "Rp. ") %></div>
			</td>
			<td>
				<div id="cart_quantity">
					<%= hidden_field_tag 'product_id[]', product.id%>
					<%= number_field_tag 'quantity[]',params[:quantity], :value => quantity %>
				</div>

				
			</td>
			<td>
				<div id = "result_price"><%= number_to_currency(product.sellprice * quantity.to_i, :unit => "Rp. ") %></div>
			</td>
			<td class= "remove_item">
				<p><%= link_to(image_tag("trash.png"), cart_clear_path(:id => product.id)) %></p>
			</td>
		</tr>
		
<%end%>
		<tr colspan = "5" syle="border:solid 1px black;">
			<td colspan = "3"><h2>Total Order</h2></td>
			<td id ="total"><h2><%=number_to_currency(@total.inject(:+), :unit => "Rp. ")%></h2></td>
		</tr>
</table>
	<%= submit_tag "Update"%>
	<%end%>
	<% if session[:customer_id]%>
		<%= link_to 'Checkout' , root_path %>
	<%else%>
		<%= link_to 'Checkout', login_users_path  %>
	<%end%>
<br>
<%else%>
<p>Your Cart is Empty</p>

<%end%>
<%= link_to 'Continue Shopping',root_path%>
</div>
