<h2>Prod Name = <%= @inventory.pName%></h2>
<p>Quantity = <%= @inventory.pQuantity %></p>
<p>Size = <%= @inventory.pMeter%></p>
<p>Weight = <%= @inventory.pWeight%></p>
<p>Price = <%= @inventory.pSellPrice%></p>
<p>Category = <%= number_to_currency @inventory.pCategory%></p>
<p>Produc Picture = <%= @inventory.pPic%></p>
<%= link_to "Edit This Inventory", edit_inventory_path(@inventory) %>
