<div id = "Main_Container">
	<h1>All Inventories List</h1>
	<p><%= link_to "Create New Inventory", new_inventory_path %></p>
	<hr/>
	<div id="InventoryContainer">
		<div id = "InventoryLeft">	
			<div id ="InventoryDetail"> Click on the Product Code</div><!-- where the JS get called-->
		</div>

		<div id= "InventoryRight">
			
			<table style ="margin-left:30px;">
        <tr>
          <!--perform search on product-->
         <td style ="margin-left:20px;width:150px; !border:solid black 1px;"><h3 style ="margin-left:20px;">Search for Product</h3> </td>
         <td style ="!border:solid black 1px;"><input type = "text" id ="search-prod"></td>
      </tr>
    </table>
			
			<div id = "InventoryList">
				<!--this link_to already equal to onclick in jquery-->
				<!--remote true to call AJAX file from inventory controler-->
				<table id = "inventory_table">
					<tr>
						<td class = "prodCodeTitle"><h3>Prod Code</h3></td>
						<td class = "prodResult"><h3>Quantity</h3></td>
						<td class = "prodResult"><h3>Size</h3></td>
						<td class = "prodResult"><h3>Price</h3></td>
					</tr>
						<% @inventories.each do |t| %>
					<tr id = "prodResultContainer">
						<td class ="prodResult"><div id ="prodNameTest"><%= link_to t.name, inventory_path(t), :remote => true %></div></td>
						<td class = "prodResult"><%= t.quantity %></td>
						<td class = "prodResult"><%= t.meter %></td>
						<td class = "prodResult"><%= number_to_currency(t.sellprice, :unit => "Rp.") %></td>
					</tr>
						<% end %>
				</table>
			</div>
		</div>
	</div>	
</div>