<div id = "Main_Container">
	<h1>Inventories List</h1>
	<p><%= link_to "Create New Inventory", new_inventory_path %></p>
	<hr/>
	<div id="InventoryContainer">
		<div id= "InventoryLeft">
			<h3 style ="margin-left:20px;">Search for Product</h3>
			<%= form_tag inventories_path, :method => :get do %>
				<p>
					<%= text_field_tag :search, params[:search],:class => "textField" %>
					<%= submit_tag "Cari", :name => nil %>	
				</p>
			<% end %>
			
			<div id = "InventoryList">
				<!--this link_to already equal to onclick in jquery-->
				<!--remote true to call AJAX file from inventory controler-->
				<% @inventories.each do |t| %>
					<ul class= "link"><%= link_to t.pName, inventory_path(t), :remote => true %></ul><!--the link_to second argument automatically take the inventories id--> 
				<% end %>
			</div>
		</div>
		<div id = "InventoryRight">	
			<div id ="InventoryDetail"></div><!-- where the JS get called-->
		</div>
	</div>	
</div>