<div id = "Main_Container">
	<h1>Inventories List</h1>
	<p><%= link_to "Create New Inventory", new_inventory_path %></p>
	<hr/>
	<div id="InventoryContainer">
		<div id = "InventoryLeft">	
			<div id ="InventoryDetail"> Click on the Product Code</div><!-- where the JS get called-->
		</div>

		<div id= "InventoryRight">
			<h3 style ="margin-left:20px;">Search for Product</h3>
			<%= form_tag inventories_path, :method => :get do %>
				<p>
					<%= text_field_tag :search, params[:search],:class => "textField" %>
					<%= submit_tag "Cari", :name => nil %>	
				</p>
			<% end %>
			
			<div id = "InventoryList">
				<!--this link_to already equal to onclick in jquery-->
				<!--remote true to call AJAX file from inventory controler-->
				<table id = "inventory_table">
					<tr>
						<td class = "prodCodeTitle"><h3>Prod Code</h3></td>
						<td class = "prodResult"><h3>Quantity</h3></td>
						<td class = "prodResult"><h3>Size</h3></td>
						<td class = "prodResult"><h3>Price</h3></td>
					</tr>
						<% @inventories.each do |t| %>
					<tr>
						<td class ="prodResult"><%= link_to t.name, inventory_path(t), :remote => true %></td>
						<td class = "prodResult"><%= t.quantity %></td>
						<td class = "prodResult"><%= t.meter %></td>
						<td class = "prodResult"><%= t.sellprice %></td>
					</tr>
						<% end %>
				</table>
			</div>
		</div>
	</div>	
</div>