<div id = "Main_Container">

	<div id = "product_container">
		<h2>Prod Name = <%= @inventory.name%></h2>
	<div id = "picture_frame">
		<div id = "le_picture">
			<!--to prevent error if no picture uploaded-->
			<% if @product_images %>
			<%= image_tag(@inventory.product_images.first.prod_img_url(:standard).to_s, :class=>"open_fancybox") %>
			<%end%>
		</div>
		<div id = "le_small_picture_container">
		<% if @product_images %>	
			<% @inventory.product_images.each do |img|%>
			<div id= "le_small_picture">
				<%= link_to(image_tag(img.prod_img_url(:thumb_small).to_s),img.prod_img.to_s, :class=>"fancybox")%> 
				</div>
			<%end%>
		<%end%>
		</div>
	</div>
	<div id = "prod_detail">

		<% if current_user && current_user.role == 'Admin' %>
		<h3>Product Details: <%= link_to "Edit", edit_inventory_path(@inventory) %></h3>
		<%end%>
		<ul>
			<li class = "label_Prod"><b>Sisa Quantity :</b></li> <li class = "answer_Prod"><%= @inventory.quantity %> <%=@inventory.satuan%></li>
			<li class = "label_Prod"><b>Wide :</b></li> <li class = "answer_Prod"><%= @inventory.meter%> <%=@inventory.ukuran%></li>
			<li class = "label_Prod"><b>Weight :</b></li> <li class = "answer_Prod"><%= @inventory.weight%> <%=@inventory.berat%></li>
			<li class = "label_Prod"><b>Price :</b></li> <li class = "answer_Prod"><%= number_to_currency @inventory.sellprice , :unit => "Rp."%> per <%= @inventory.satuan%></li>
			<li class = "label_Prod"><b>Category :</b></li> <li class = "answer_Prod"><%= @inventory.category%></li>
			<li class = "label_Prod"><b>Komposisi :</b></li> <li class = "answer_Prod"><%= @inventory.material%></li>
			<li class = "label_Prod"><b>Type :</b></li> <li class = "answer_Prod"><%= @inventory.fabrictype%></li>
		</ul>
		<div id = "inventory_cart">
			<!--store previous page to the session-->
			<%  session[:return_to] ||= request.referer %>
			<%= link_to 'Add to Cart' , cart_add_path(:id=>@inventory.id)%>
		</div>
	</div>
		<div id = "comments_box">
			Diskusi Produk: 
		</div>
	</div><!--div untuk product container-->

</div>	
<script type="text/javascript">
//this code was meant to be the fancybox code that display slider of all product image
		$('.open_fancybox').click(function(){
		$.fancybox.open([
			<% @inventory.product_images.each do |img|%>
			{
				href :  '<%=img.prod_img.to_s%>'
			},
			<%end%> 
		]);
	});

//end of the fancybox code

//below is the code to call fancybox for every link with class iframe
//we use it for : 1. calling add image page from inventory edit
	jQuery(function(){
		$(".iframe").fancybox({
			type: 'iframe'
		});
		return false;
	});

</script>
