
<h2>Prod Name = <%= @inventory.name%></h2>
<p>Quantity = <%= @inventory.quantity %></p>
<p>Size = <%= @inventory.meter%></p>
<p>Weight = <%= @inventory.weight%></p>
<p>Price = <%= @inventory.sellprice%></p>
<p>Category = <%= @inventory.category%></p>
<p>Product Picture = <%= @inventory.pic%></p>

<h2></h2>
