      <div id = "Main_container"> 
      <h4 style="color:red;text-align:center;">Only <%= session[:role]%> can access this page!</h4> 
      	<div id = "admin_container">

        <ul>
          <p id="user_name">Welcome,<b><%= current_user.name %>! </b></p>
          <li><%= link_to 'Home ' , root_path %></li>
          <li>Manage Poster & Banner
          	<ol>
	          <li><%= link_to 'Upload Main Poster', new_main_poster_path %></li>
    	      <li><%= link_to 'Upload Sub Poster', new_sub_poster_path %></li>
        	  <li><%= link_to 'Upload Banner', new_banner_path %></li>
     	 	</ol>
     	 </li>
          <li><%= link_to 'Check Orders', orders_path %> <div class="notif">(<%=@new_order%> new Order!)</div></li>
          <li><%= link_to 'Check Orders - PO', order_pos_path %> <div class="notif">(<%=@new_po_order%> new PO Order!)</div></li>
          <li><%= link_to 'Check All Inventories', inventories_path %>
              <div>
                <ol>
                  <li><%=link_to 'Add Category', categories_path%></li>
                  <li><%=link_to 'Add Product Type', prodtypes_path%></li>
                  <li><%=link_to 'Add Fabric Type', type_inventories_path%></li>     
                </ol>
              </div>
          </li>
          <li><%= link_to 'Update Company Information', compinfos_path %>

          </li> 
          <li><%= link_to 'Check All Customers', customers_path %></li> 
          <li><%= link_to 'Check All Users', users_path %></li>
          <li><%= link_to 'Report Page', report_index_path %></li>
        </ul>
    	</div>
    </div>