<%= form_for @order, :url => {:action =>'update'} do |f| %>
<%= f.hidden_field :readyorpo, value: 'PO' %>
<h1 class = "page_title" style = "width: 300px; text-align:center;">Edit PO Transaction</h1>
  <%= render :template => 'orders/_editform', :locals => {:f => f} %>
                  <p><%= submit_tag "Submit" %> | <%= link_to 'Back', order_pos_path %><!--will go to create controller-->
                  
              </div>
   		
    <!--The Form for Order List End Here!-->
    </div>
  </div>  
</div>
 <!--the end of the inventory order code-->
  </div>
<% end %>
<%= debug params %>




