<div id = "Main_Container">
	<div id = "universal_form">
	<h1 class= "unversal_form_title">Change Password!</h1>
	<%= form_for @user,:url => {:action => 'change_password_commit'} do |f|%>
		<% if @user.errors.any? %>
			<h2>Form is Invalid</h2>
			<ul>
				<% for message in @user.errors.full_messages %>
					<li><%= message %></li>
				<%end%>
			</ul>
		<%end%>
		<div id ="new_user">
			<ul>
			<%= f.hidden_field :email %>
			<br/>
			<li><%= f.label 'Old Password' %>
			<%= f.password_field :oldpassword %></li>
			<br/>
			<li><%= f.label 'New Password' %>
			<%= f.password_field :password %></li>
			<br/>
			<li><%= f.label :password_confirmation %>
			<%= f.password_field :password_confirmation %></li>
			<br/>
			<div id ="submit_button">
			<li><%= f.submit%> || <%= link_to "Cancel", root_path %></li>
		</ul>
			</div>
		</div>
	<%end%>
	</div>
</div>