<div id = "user_container">
	<div class="user_page_left">
		<div id ="prof_pic" class="user_page_left">
			<% if @user && @user.profpic %>
			<%= image_tag @user.profpic.split("=")[0] <<"=large"%>
			<%end%>
		</div>
		<div id = "user_personal_menu_container">
			<%= render 'usermenuhelper' %>
		</div>
	</div>
	
	<div id = "user_content_container" class= "user_page_right">
		<h2 style="text-align:left;">My Order Record</h2>
		<div id = "report_container">
		<table class = "user_order_table" border = "1">
		<tr>
				<th>No.</th>
				<th>Nomor Pesanan</th>
				<th>Tanggal Order</th>
				<th>Terbayar</th>
				<th>Status Order</th>
		</tr>
		
			<% @user_order.each_with_index do |f,index|%>
			<% index = index+1%>
			<tr>
				<td><%= index %></td>
				<td><%= link_to f.url_id, order_show_path(f.url_id) %></td>
				<td><%= f.created_at.strftime("%d-%m-%Y") %></td>
				<td><%= number_to_currency(f.payment , :unit => "Rp. ")%></td>
				<td><%= f.status %></td>
			</tr>
			<%end%>
		
		</table>
		</div>
		<i>Note: Click nomor pesanan untuk informasi lebih detil</i>
	</div>

</div>
