<div id = "user_container">
	<div class="user_page_left">
		<div id ="prof_pic" class="user_page_left">
			<% if @user && @user.profpic %>
			<%= image_tag @user.profpic.split("=")[0] <<"=large"%>
			<%end%>
		</div>
		<div id = "user_personal_menu_container">
			<%= render 'usermenuhelper' %>
		</div>
	</div>
	<div id = "user_personal_menu" class= "user_page_right">
		<ul>
			<li class = "user_menu_button" style="background-color:#58ACFA;color:black;border-bottom:none;"><%=link_to 'News Feed',user_path(:id => session[:user_id])%></li>
			<li class = "user_menu_button"><%=link_to 'Following',user_path(:id => session[:user_id])%></li>
			<li class = "user_menu_button"><%=link_to 'Followers',user_path(:id => session[:user_id])%></li>
			
		</ul>
	</div>
	
	<div id = "user_content_container" class= "user_page_right">
		<p>Recently Uploaded Craft</p>

		<p>Disini kalo crafter itu sendiri maka kita menampilkan semua hasil workshop oleh siapa saja crafter yang terakhir di upload.tapi... kalo visitor kita cuma kasih liat hasil yang di upload oleh si crafter ini aja (bagian workshop?? kalo gitu arahkan aja link ke myworkhsop page nya si crafter)</p>
	</div>
<div id = "list_o">

</div>

	</div>
