<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <table>
        <tr>
          <td><%= f.label :name %></td>
          <td><%= f.text_field :name %></td>
        </tr>
         <tr>
          <td><%= f.label :phone %></td>
          <td><%= f.text_field :phone%></td>
        </tr>
        <tr>
          <td><%= f.label :address %></td>
          <td><%= f.text_area :address %></td>
        </tr>
    </table>
    <%= f.submit %>
  </div>
<% end %>
