<div id = "Main_Container">
  <h1 class="page_title" style="text-align:center; width: 300px">Listing customers</h1>
  <hr/>
<div id = "admin_menu">
  <%= link_to 'New Customer', new_customer_path %>
</div>
  <table class = "report_table">
    <thead>
      <tr>
        <th>no.</th>
        <th style="width:100px">Nama</th>
        <th>Alamat</th>
        <th>No.Tlp</th>
        <th>Email</th>
        <th>Tanggal Daftar</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
      </tr>
    </thead>

    <tbody>
      <% @customers.each_with_index do |customer,i| %>
        <tr>
          <td><%= i + 1 %>.</td>
          <td style="width:100px"><%= customer.name %></td>
          <td><%= customer.address %></td>
          <td><%= customer.phone %> </td>
          <td><%= customer.email %> </td>
          <td><%= customer.created_at %></td>
            <td><%= link_to 'Show', customer %></td>
            <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
            <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <hr/>
  <br>
</div>