<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
<!--the beginning of the inventory order code-->
<div id = "Main_Container">
  <h1>Transaction</h1>
  <hr/>
  <div id="InventoryContainer">
    <div id = "InventoryLeft">  
      <div id ="InventoryDetail"> Click on the Product Code</div><!-- where the JS get called-->
    </div>

    <div id= "InventoryRight">
      <h3 style ="margin-left:20px;">Search for Product</h3>
      <%= form_tag inventories_path, :method => :get do %>
        <p>
          <%= text_field_tag :search, params[:search],:class => "textField" %>
          <%= submit_tag "Cari", :name => nil %>  
        </p>
      <% end %>
      
      <!--The Form for Order List Start Here! -->
              <div id = "InventoryList">
                <%= f.label :customer_id,'customer ID' %>
                <%= f.text_field :customer_id %>
                <!--this link_to already equal to onclick in jquery-->
                <!--remote true to call AJAX file from inventory controler-->
                <table id = "inventory_table">
                  <tr>
                    <td class = "prodCodeTitle"><h3>Prod Code</h3></td>
                    <td class = "prodResult"><h3>Quantity</h3></td>
                    <td class = "prodResult"><h3>Size</h3></td>
                    <td class = "prodResult"><h3>Price</h3></td>
                    <td class = "prodResult"><h3>Check</h3></td>
                  </tr>
                    <% @inventories_list.each do |t| %>
                  <tr>

                    <td class ="prodResult"><%= link_to t.pName, inventory_path(t), :remote => true %></td>
                    <td class = "prodResult">
                      <%= f.fields_for :inventory_orders do |qty| %>
                         <%= qty.hidden_field :inventory_id , value: t.id %>
                         <%= qty.text_field :quantity %>
                     <%end%>
                    </td>
                    <td class = "prodResult"><%= t.pMeter %></td>
                    <td class = "prodResult"><%= t.pSellPrice %></td>
                    
                  </tr>
                    <% end %>
                </table>
                  <p><%= submit_tag "Submit" %></p> <!--will go to create controller-->
              </div>
   
    <!--The Form for Order List End Here!-->
    </div>
  </div>  
</div>
 <!--the end of the inventory order code-->
  </div>
<% end %>
<%= debug params %>
