  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
<!--the beginning of the inventory order code-->
<div id = "Main_Container">

  <hr/>
  <div id="InventoryContainer">
    <div id = "InventoryLeft">  
      <div id ="InventoryDetail"> Click on the Product Code</div><!-- where the JS get called-->
    </div>

    <div id= "InventoryRight">
     
      <!--The Form for Order List Start Here! -->
                <div id = "customer_list">
                  <fieldset>
                    <legend>Information</legend>
                 <div id = "additional_transaction">
                  <h3> <label>Nama Customer</label>
                 <%= 
                 collection_select(:order,:customer_id,@customer,:id,:name) #(:class or object, :method or attribute inside that object that we want to store the info to, the collection of options, key, value)
                 %></h3>
                    <h3><%= f.label :delvethod , 'metode pengiriman' %><%=f.text_field :delvmethod%></h3>
                    <h3><%= f.label :ongkir %><%=f.number_field :ongkir%></h3>
                    <h3><%= f.label :discount %><%=f.number_field :discount%></h3>
                  </div>
               </div>
             </fieldset>
             <br/>
             <fieldset>
              <legend>Transaction</legend>
              <div id = "InventoryList">
              <table>
                  <tr>
                    <!--perform search on product-->
                   <td style ="width:150px; !border:solid black 1px;"><h4>Search for Product</h4> </td>
                   <td style ="!border:solid black 1px;"><input type = "text" id ="search-prod"></td>
                </tr>
              </table>
            
                <!--this link_to already equal to onclick in jquery-->
                <!--remote true to call AJAX file from inventory controler-->
                <table id = "inventory_table">
                  <tr>
                    <td class = "prodCodeTitle"><h3>Prod Code</h3></td>
                    <td class = "prodResult" style="width:50px;"><h3>Stock</h3></td>
                    <td class = "prodResult" style="width:50px;"><h3>Yard</h3></td>
                    <td class = "prodResult"><h3>Ukuran</h3></td>
                    <td class = "prodResult"><h3>Price</h3></td>
                  </tr>
                    <% @inventories_list.each do |t| %>
                    <tr id = "prodResultContainer">
                        <td class ="prodResult"><div id ="prodNameTest"><%= link_to t.name, inventory_path(t), :remote => true %></div></td>
                         <td class ="prodResult" style="width:50px;"><%= t.quantity %></td>
                        <td class = "prodResult" style="width:50px;">
                        
                             <%= f.fields_for :inventory_orders do |qty| %>
                               <%= qty.hidden_field :inventory_id, value: t.id %> <!--id of inventory--> 
                               <%= qty.number_field :quantity, max: 100 , min: 5 %>

                             <%end%>
                        </td>
                        <td class = "prodResult"><%= t.meter %></td>
                        <td class = "prodResult"><%= number_to_currency(t.sellprice, :unit => "Rp. ") %></td>
                      <% end %>         
                    </tr>
                </table>
                  <p><%= submit_tag "Submit" %> | <%= link_to 'Cancel', orders_path %></p> <!--will go to create controller-->
              </div>
   </fieldset>
    <!--The Form for Order List End Here!-->
    </div>
  </div>  
</div>
 <!--the end of the inventory order code-->
  </div>

