<p id="notice"><%= notice %></p>
<div id="Main_Container">
	
	<div id = "order_container">
		<div id = "sub_title">
			<h1> ORDER INVOICE</h1>
			<h1> NO. #<%= @order.url_id %></h1>
			<p>Link for references: <%=link_to root_url%>orders/<%=@order.url_id %></p>
		</div>
		<br>
		<br>
		<div id = "order_detail">
			<ul>
				<li>Order Dibuat pada tanggal : <%= @order.created_at.strftime("%d /%b /%y") %></li>
				<li>Tanggal Terakhir Update : <%= @order.updated_at.strftime("%d /%b /%y") %></li>
			</ul>
		</div>
		<div>
			<table id = "customer_detail">
					<tr>
						<td colspan = 2> <h4 id= "small_title">Customer Detail</h4></td>
					</tr>
					<tr>
						<td class = "left_q">Nama</td>
						<td class = "right_q"><%= @order.customer.name %></td>
					</tr>
					<tr>
						<td class = "left_q">Nomor Tlp.</td>
						<td class = "right_q"><%= @order.customer.phone %></td>
					</tr>
					<tr>
						<td class = "left_q">Alamat Pengiriman</td>
						<td class = "right_q"><%= @order.customer.address %></td>
					</tr>
			</table>
		<table id = "payment_status">
			<tr>
				<td colspan = "6">STATUS ORDER IMAGE</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</table>
		</div>
		<% @order.inventory_orders.each do |t| %>
		<%end%>
		<br/>
		<table id = "inventory_ordered">
			<tr>
				<th><h4>No.</h4></th>
				<th><h4>Prod Name</h4></th>
				<th><h4>Price</h4></th>
				<th><h4>x</h4></th>
				<th><h4>Quantity</h4></th>
				<th><h4>=</h4></th>
				<th><h4>Total Price</h4></th>
			</tr>

			<% @inventory_ordered.each_with_index do |inventory, i| %>

			<tr>
				<td><%= i + 1 %>.</td>
				<td><%= link_to(inventory.name, product_image_path(inventory.id), :class => 'iframe') %></td>
				
				<td class= "currency_small"><%= number_to_currency(inventory.sellprice, :unit => "Rp.") %></td>
				<td> x </td>
				<td><%= inventory.quantity %></td>
				<td>=</td>
				<td class= "currency_large"><%= number_to_currency(inventory.total, :unit => "Rp. ") %></td>
			</tr>
			<% end %>
			<tr>
				<div id = "total_order">
					<td colspan = 6 class= "c_title" style="padding-top:25px;"><h3>Total Order</h3></td>
					<td class= "currency_large">	<div id="c_line"> + </div><h3><%= number_to_currency(@total_ordered.first.total_price, :unit => "Rp. ") %></h3></td>
				</div>
			</tr>
			<tr>
				<div id = "ongkir">
					<td colspan = 3 class= "c_title">Metode Pengiriman: <%=@orders.delvmethod%></td>
					<td class= "currency_large" colspan =4><%= number_to_currency(@orders.ongkir, :unit => "Rp. ") %></td>
					
				</div>
			</tr>
			<tr>
				<div id = "discount">
					<td colspan = 3 class= "c_title" >Discount</td>
					<td class= "currency_large" colspan =4 style="color:#ff4d4d;">(<%= number_to_currency(@orders.discount, :unit => "Rp. ") %>)</td>
				</div>
			</tr>
			<tr>
				<td colspan = 7 ><div id="c_line" style="margin-left:375px; margin-top:-20px"> + </div></td>
			</tr>
			<tr>
				<td colspan = 6 class= "c_title" style="padding-top:-100px;"><h3>Total Amount</h3></td>
				<td class= "currency_large">
					<h3><%= number_to_currency(@total_amount.first.total_amount, :unit => "Rp. ") %></h3>
				</td>
			</tr>
			<tr>
				<td colspan = 6 class= "c_title" style="padding-top:-100px;"><h3>Amount Paid</h3></td>
				<td class= "currency_large">
					<h3 style="color:#ff4d4d">(<%= number_to_currency(@down_payment_calculation.first.payment, :unit => "Rp. ") %>)</h3>
					
				</td>
			</tr>
			<tr>
				<td colspan = 7><div id="c_line" style="margin-left:525px; margin-top:-23px;"> - </div></td>
			</tr>
			<tr>
				<td colspan = 6 class= "c_title"><h3>Outstanding Amount</h3></td>
				<td class= "currency_large"><h3><%= number_to_currency(@down_payment_calculation.first.outstanding, :unit => "Rp. ") %></h3></td>
			</tr>
		</table>
		<br/>
		
			<table id ="bank_detail">
				<th colspan ="2">Pembayaran Melalui:</th>
				<th></th>
				<tr>
					<td>Rekening:</td>
					<td><b>BCA</b></td>
				</tr>
				<tr>
					<td>No.Rekening</td>
					<td><b>021-293-7299</b></td>
				<tr>
					<td>A/N:</td>
					<td><b>Shinfiani Teja</b></td>
				</tr>
				<tr>
					<td colspan= "2">setelah melakukan pembayaran harap konfirmasi dengan menghubungi nomor: <b>081584337766</b></td>
					<td></td>
				</tr>
			</table>
			<table id = "signature">
				<tr>
					<td>Shinfi Signature</td>
				</tr>
				<tr>
					<td id="sign">SIGNATURE</td>
				</tr>
				<tr>
					<td><div id="c_line" style="margin-left:70px;"> </div>Shinfiani Teja</td>
				</tr>
			</table>
	</div>
</div>
