<div id= "Main_Container">
  <h1 class="page_title" style="text-align:center;">Listing Orders</h1>
  <div id = "admin_menu">
    <%= link_to 'New Order', new_order_path %>
  </div>
     <table style = "width:280px; margin-left:5px;">
      <tr>
        <td> Find Order By Status</td>
        <td><%= form_for :order,:url =>orders_path,:html =>{:method =>:get} do |x|%>
        <!--By pass the collection_select :option with empty {}-->
        <%= x.collection_select :status , @orderstatus,:id,:name,{include_blank: 'Select'},{:onchange =>"this.form.submit();"} %>
        <%end%>
        </td>
      </tr>
    </table>
    
  <table class = "report_table">
    <thead>
      <tr>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
    
      <tr class = "title">
        <td>No.</td>
        <td>Order ID.</td>
        <td>Nama Cust.</td>
        <td>Total Amount</td>
        <td>Outstanding</td>
        <td>Status</td>
        <td>Payment</td>
        <td> </td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
      </tr>
      <% @orders_index.each_with_index do |order, i| %>
        <tr>
          <td><%= i+1 %>.</td>
          <td class = "content"><%= order.id %></td>
          <td class = "content"><%= order.name%></td>
          <td><%= number_to_currency(order.total_price , :unit => "Rp. ") %></td>
          <td><%= number_to_currency(order.outstanding , :unit => "Rp. ")%></td>
          <%= form_for :order, :url => update_multiple_payment_orders_path, :html => { :method => :put } do |f| %>
          <td><%= f.collection_select :order_status_id , @orderstatus, :id,:name ,{:selected=> order.status}%></td>
          <td>
              <%= f.hidden_field :id , value: order.id %>
              <%= f.number_field :payment, value: order.payment %>      
          </td>
          <td><%= f.submit("Submit Payment") %></td>
          <% end %>
          <td><%= link_to 'Show', order %></td>
          <td><%= link_to 'Edit', edit_order_path(order) %></td>
          <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      
      
    <%end #for form_for%>
    </tbody>
  </table>
  <br>
</div>