<div id= "Main_Container">
  <h1 class="page_title">Listing orders</h1>
  <div id = "admin_menu">
    <%= link_to 'New Order', new_order_path %>
  </div>
  <table class = "report_table">
    <thead>
      <tr>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
    <%= form_tag("/updatepayment", method: "POST" ) do |f| %>
      <tr class = "title">
        <td>No.</td>
        <td>Order ID.</td>
        <td>Nama Cust.</td>
        <td>Total Amount</td>
        <td>Status</td>
        <td>Payment</td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
      </tr>
      <% @orders_index.each_with_index do |order, i| %>
        <tr>
          <td><%= i+1 %>.</td>
          <td class = "content"><%= order.id %></td>
          <td class = "content"><%= order.name%></td>
          <td><%= number_to_currency(order.total_price , :unit => "Rp. ") %></td>
          <td><%= order.status %></td>
          <td><input type ="text"></td>
          <td><%= link_to 'Show', order %></td>
          <td><%= link_to 'Edit', edit_order_path(order) %></td>
          <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      <%= submit_tag("Submit Payment") %>
    <%end #for form_for%>
    </tbody>
  </table>
  <br>
</div>