<%= form_for(@product_image) do |f| %>
  <% if @product_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product_image.errors.count, "error") %> prohibited this product_image from being saved:</h2>

      <ul>
      <% @product_image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :inventory_id %><br>
    <%= f.number_field :inventory_id %>
  </div>

  <!--the UI javascript code for displaying upload image progress-->
        <script id="template-upload" type="text/x-tmpl">
        <div class = "upload">
          {%=o.name %}
          <div class = "progress">
            <div class= "bar" style ="width:0%"></div>
          </div>
        </div>
        </script>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
