<fieldset>
<h3 style = "display:inline;">Upload More Picture</h3>    


<fieldset>
  <hr>
  <%= form_for @product_images do |each| %>                 
   <!--Where we upload multiple picture using carrierwave-->
   <div id = "picture"><%= each.file_field :prod_img, multiple: true, name: "product_image[prod_img]" %>
      <% i = 1 %>
         <!--ini untuk membuat increment number di picture table, supaya bisa menentukan display picture, tp hanya angka 1 yang ter print-->
      <%= each.hidden_field :displaypic, value: i %>
      <%= each.hidden_field :inventory_id, value: @inventory.id %>
      <% i+1 %>
  </div>
  <hr>
<%end %>
<br>
      <div id ="list_pic_container">
         <% @inventory.product_images.each do |f|%>
            <% if f.id != nil %>
             <%= image_tag(f.prod_img_url(:medium_thumb).to_s)%>
             <%= link_to 'x', remove_photo_inventory_path(@inventory, :prod_id => f.id), :confirm => "Buang Gambar?", :method => :delete, :id=> 'remove_picture' %>
            <%end%>
         <%end %>
      </div>
<br>
  <!--the UI javascript code for displaying upload image progress-->
        <script id="template-upload" type="text/x-tmpl">
        <div class = "upload">
          {%=o.name %}
          <div class = "progress">
            <div class= "bar" style ="width:0%"></div>
          </div>
        </div>
        </script>

