<div id = "Main_Container">

	
		<div id = "category_left">
			<h2 style="text-align:center;">Categories</h2>

			<%= form_for :categories, :url => categories_path, :html => {:method => :post} do |f| %>
					<%= f.label 'Add Category' %>
					<%= f.text_field :name , :value => nil%>
				<%= f.submit %>
			<%end%>

		</div>
		<div id = "category_right">
			<h2 style="text-align:center;">SubCategories</h2>
			<%= form_for :subcategories, :url => sub_categories_create_categories_path, :html => {:method => :post} do |f|%>
				<%= f.label 'Add SubCategory' %>
				<%= f.collection_select :category_id, @categories, :id, :name, :prompt=>true %>
				<%= f.text_field :name, :value => nil %>
				<%= f.submit %>
			<%end%>
		</div>
		<div id = "display_category">
			<h2 style="text-align:center;"><u>List of Categories</u></h2>
			<% @categories.each_with_index do |t , i| %>
				<ul>
					<li>
						<%= i + 1 %>. <%= t.name %>
					<%= link_to "Delete", t , method: :delete, data: { confirm: 'Are you sure?' }%>
					<ol>
						<% @subcategories_test = Subcategory.where(:category_id => t.id) %>
						<%@subcategories_test.each_with_index do |x|%>
							<li> <%= x.name %> <%= link_to "Delete", sub_categories_destroy_category_path(x) , method: :delete, data: { confirm: 'Are you sure?' }%></li>
						<%end%>
					</ol>
					</li>
					
				</ul>
			<%end%>
		</div>
	
</div>