<div id = "Main_Container">
	
		<div id ="home_first_section">
			
			<div class = "main_poster">	
				<div id="main_poster" class="owl-carousel col-lg-12">
					<%if @mainposter %>
						<% @mainposter.each do |img|%>
		  					<div class="item"><%=image_tag(img.mainposter_url(:display).to_s) %>	</div>
		 				 <%end%>
	 				 <%end%>
	 			</div>
	 		</div>
		 		
 		</div> <!--for first section div-->

 		<div id = "top_seller_product_index_page">
		 			<div id="title">
		 				<h3 style = "color: black;text-align:center;line-height:80px;"> Top 5 Best Seller!</h3>
		 			</div>
		 			<div class="slider_button_left"><%= image_tag("btn_left.png") %></div>
		 			<div id="top_seller_image_container">
		 				
			 				<div id="owl-top_seller" class ="owl-carousel col-lg-12" >
				 			<% @best_seller.each do |img| %>
				 				
				 				<div class="item"><%= link_to(image_tag(img.prod_img_url(:thumb).to_s),inventory_path(img.inventory_id))%>
				 				</div>
				 				
				 			<%end%>
				 			
			 				</div>
			 			
		 			</div>
		 			<div class="slider_button_right"><%= image_tag("btn_right.png") %></div>
				</div>
 		<br>
 		<div id = "second_poster">
 				
				
					<%if @subposter1 %>
						<% @subposter1.each do |img|%>
						
							<div class = "sub_poster">
								<div class = "subposter_info"><h1><%= link_to ' CLICK! ', fabrics_path%></h1></div>

								<%=image_tag img.subposter_url(:display).to_s%>			
							</div>
						
						<%end%>
					<%end%>
				
		</div>
	 	<br>
	
</div>
<script type="text/javascript">

//to check owl-carousel properties: http://owlgraphic.com/owlcarousel/
$(document).ready(function(){

	$("#main_poster").owlCarousel({
	    autoPlay: 3000, //Set AutoPlay to 3 seconds
	    singleItem: true,
	    itemsDesktop: [1199, 3],
	    itemsDesktopSmall: [979, 3]
  });
	$("#owl-top_seller").owlCarousel({
	    items : 4,
	    pagination: false
  });
	$(".slider_button_left").click(function(){
    	$("#owl-top_seller").trigger('owl.next');
  	});
  	$(".slider_button_right").click(function(){
    	$("#owl-top_seller").trigger('owl.prev');
  	});

});

</script>