<div id = "Main Container">
	<div id = "home_container">
			
			<div class="owl-carousel col-lg-12">
  				<div class="item"><%= image_tag("LOGO.png") %></img></div>
 				 <div class="item"><%= image_tag("LOGO.png") %></img></div>
 				 <div class="item"><%= image_tag("LOGO.png") %></img></div>
 			</div>
		<div class = "banner">
		</div>
		<hr>
		<br>
	<%= form_for :application,:url =>application_index_path,:html =>{:method =>:get} do |x|%>
    <!--By pass the collection_select :option with empty {}-->
    <%= x.collection_select :type , @type,:name,:name,{include_blank: 'Product Type'},{:onchange =>"this.form.submit();"} %>
    <%end%>
		<% @image.each do |f|%>
		<div id = "index_image_display_container">
			<div id = "index_image_display"><%= image_tag(f.prod_img_url(:standard).to_s)%></div>
			<div id = "index_product_summary">
				<b><%= f.name %></b>
				<ul>
					<li><%= f.fabrictype%></li>
					<li><%= number_to_currency(f.sellprice, :unit => "Rp. ")%></li>	
				</ul>
			</div>
		</div>
		<%end%>
		<div class = "pagination">
			<%= will_paginate @image%>
		</div>
	</div>
</div>
<script type="text/javascript">
//to check owl-carousel properties: http://owlgraphic.com/owlcarousel/
$(document).ready(function(){
	$(".owl-carousel").owlCarousel({
	    autoPlay: 3000, //Set AutoPlay to 3 seconds
	    singleItem: true,
	    itemsDesktop: [1199, 3],
	    itemsDesktopSmall: [979, 3]
  });
});
</script>