<div id = "footer_container">
	<br>
	<hr>
<div id = "f_left">
	<div id = "site_map">
		<b>Kenal lebih dekat</b>
		<ul class = "subcontent">
			<li><a href ="#">Tentang Kami</a></li>
			<li><a href ="#">Milestone</a></li>
			<li><a href ="#">Join Us</a></li>
		</ul>
		<br>
		<b>Pelayanan Pelanggan</b>
		<ul class = "subcontent">
			<li><%= link_to 'FAQ', compinfo_path('FAQ')%></li>
			<li><%= link_to 'Contact Info', compinfo_path('Contact Info')%></li>
			<li><a href ="#">Tata Cara Pembelian</a></li>
			<li><a href ="#">Pengiriman</a></li>
			<li><a href ="#">Tata Cara Pengembalian Barang</a></li>
		</ul>
	</div>
</div>
<div id = "f_middle">
	<div id = "site_map_middle">
		<b>Eksplorasi</b>
		<ul class = "subcontent">
			<li><a href ="#">Brands</a></li>
			<li><a href ="#">Fabrics</a></li>
			<li><a href ="#">Accessories</a></li>
			<li><a href ="#">HandyCraft</a></li>
		</ul>
	</div>
	<div id = "socmed">
	<b>Connect With Us</b>
		<ul class = "subcontent">
			<li> <%= image_tag("facebooklogo.png") %></li>
			<li> <%= image_tag("instagram.png") %></li>
			<li> <%= image_tag("twitter.png") %></li>
		</ul>
	</div>
</div>

<div id = "f_middle">
	<div id = "site_map">
	<b> Untuk Sementara kami hanya menerima </b>
	<%= image_tag("BCA.png") %>
	</div>
</div>
<div id = "f_right">
	<div id = "site_map">
		<b>Feedback</b>
		<ul class = "subcontent">
			<li><a href ="#">Kritik & Saran</a></li>
			<li><a href ="#">Ikut Survey yuk!</a></li>
		</ul>
	</div>
</div>
	<div id = "f_bottom">
		<ul class = "subcontent">
				<li> Syarat Penggunaan</li>
				<li> Ketentuan Privasi</li>
				<li> Mobile Version</li>
		</ul>
	</div>
</div>

