<%= form_for @inventory, html: {multipart: true} do |t| %>
	<% if @inventory.errors.any? %>
		<h2>Errors:</h2>
		<ul>
			<% @inventory.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	<%end%>	
	<p>	
		<%= t.label :Name %>
		<%= t.text_field :name%>
		<br />
		<%= t.label :Quantity %>
		<%= t.text_field :quantity%>
		<br />
		<%= t.label :Meter %>
		<%= t.text_field :meter%>
		<br />
		<%= t.label :Weight %>
		<%= t.text_field :weight%>
		<br />
		<%= t.label :SellPrice %>
		<%= t.text_field :sellprice%>
		<br />
		<%= t.label :Category %>
		<%= t.text_field :category%>
		<br />
		<%= t.file_field :image %><!--call paperclip upload file-->
		<br />
		<%= t.submit "Submit" %> <!--this submit button will go to controller create action-->
	</p>	
<%end%>
