<div id = "universal_form">
	<br>
	<h2 style="text-align:center;">1.Input Data Inventory -> 2. Upload Gambar -> 3. Finished</h2>
	<br>
	<!--multiplat is true for uploading file-->
<%= form_for @inventory, html: {multipart: true} do |t| %>
	<% if @inventory.errors.any? %>
		<h2>Errors:</h2>
		<ul>
			<% @inventory.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	<%end%>	
	<div id ="inventory_form_container">
		
	<ul id ="inventory_form_left">	
		<fieldset>
			<legend>Informasi</legend>
		<li>
			<%= t.label :Name %>
			<%= t.text_field :name%>
		</li>	
		<li>
			<%= t.label :SellPrice %>
			<%= t.text_field :sellprice%>
		</li>	
		<li>
			<%= t.label :Warna %>
			<%= t.text_field :warna%>
		</li>	
		<li>
			<%= t.label :Material %>
			<%= t.text_field :material%>
		</li>
		<li>
			<%= t.label :Category %>
			<%= t.collection_select :category, @categories, :name, :name, :prompt=>true %>
		</li>
		<li>
			<%= t.label :Type %>
			<%= t.collection_select :fabrictype, @type, :name, :name, :prompt=>true %>
		</li>
		<li>
			<%= t.label :Link %>
			<%= t.text_field :link , :placeholder => "http://"%>
		</li>
		</fieldset>
	</ul>
		
	
	<ul id = "inventory_form_right">
		<fieldset>
		<legend>Measurement</legend>
			<li class = "inventory_value">
				<%= t.label :Quantity %>
				<%= t.text_field :quantity%>
			</li>
			<li class="measurement">
				
				<%= t.text_field :satuan, :placeholder => "Yard,Pcs,Unit"%>
			</li>
			<li class = "inventory_value">
				<%= t.label :Wide %>
				<%= t.text_field :meter%>
			</li>
			<li class="measurement">	
				
				<%= t.text_field :ukuran, :placeholder => "Meter,Centimeter"%>
			</li>
			<li class = "inventory_value">
				<%= t.label :Weight %>
				<%= t.text_field :weight%>
			</li>
			<li class="measurement">	
				
				<%= t.text_field :berat, :placeholder => "KG, gram"%>
			</li>
			</fieldset>
		</ul>
		
		</div>
		<% if @inventory.id  %><!--kalau new berarti inventory.id belum ada-->
		<div id = "list_pic">
	
			<fieldset>
				<div id ="list_pic_container">
						<% @inventory.product_images.each do |f|%>
							<% if f.id != nil %>
								<div id ="list_pic">
									<%= image_tag(f.prod_img_url(:medium_thumb).to_s)%>
									<%= link_to 'x', remove_photo_inventory_path(@inventory, :prod_id => f.id), :confirm => "Buang Gambar?", :method => :delete, :id=> 'remove_picture' %>
								</div>
							<%end%>
						<% end%>
				</div>
			</fieldset>
		</div>
		<% end %>
			<br>
			<div id = "submit_button">
			<% if @inventory.id %>
				<button><%= link_to 'Upload More Picture', new_product_image_path(:id => @inventory.id) %></button> 
				<h3><%= t.submit "Finished" %></h3>
				<%else%>
				<%= t.submit "Next Step" %> <!--this submit button will go to controller create action-->
			<%end%>
			<br>
	        
	        </div>
		<br />		
		</div>
		
<%end%>

