<div id = "universal_form">
	<!--multiplat is true for uploading file-->
<%= form_for @inventory, html: {multipart: true} do |t| %>
	<% if @inventory.errors.any? %>
		<h2>Errors:</h2>
		<ul>
			<% @inventory.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	<%end%>	
	<p>	
		<%= t.label :Name %>
		<%= t.text_field :name%>
		<br />
		<%= t.label :Quantity %>
		<%= t.text_field :quantity%>
		<br />
		<%= t.label :Meter %>
		<%= t.text_field :meter%>
		<br />
		<%= t.label :Weight %>
		<%= t.text_field :weight%>
		<br />
		<%= t.label :SellPrice %>
		<%= t.text_field :sellprice%>
		<br />
		<%= t.label :Material %>
		<%= t.text_field :material%>
		<br />
		<%= t.label :Category %>
		<%= t.collection_select :category, @categories, :name, :name, :prompt=>true %>
		<br />
		<%= t.label :Type %>
		<%= t.collection_select :fabrictype, @type, :name, :name, :prompt=>true %>
		<br />
		<%= t.label :Link %>
		<%= t.text_field :link%>
		<br />
		<% if @inventory.id  %><!--kalau new berarti inventory.id belum ada-->
		<div id = "list_pic">
	
			<fieldset>
				<div id ="list_pic_container">
						<% @inventory.product_images.each do |f|%>
							<% if f.id != nil %>
								<div id ="list_pic">
									<%= image_tag(f.prod_img_url(:medium_thumb).to_s)%>
									<%= link_to 'x', remove_photo_inventory_path(@inventory, :prod_id => f.id), :confirm => "Buang Gambar?", :method => :delete, :id=> 'remove_picture' %>
								</div>
							<%end%>
						<% end%>
				</div>
			</fieldset>
		</div>
		<% end %>
			<br>
			<div id = "submit_button">
			<% if @inventory.id %>
				<button><%= link_to 'Upload More Picture', new_product_image_path(:id => @inventory.id) %></button> 
				<h3><%= t.submit "Finished" %></h3>
				<%else%>
				<%= t.submit "Next Step" %> <!--this submit button will go to controller create action-->
			<%end%>
			<br>
	        
	        </div>
		<br />		
		</div>
	</p>	
<%end%>

