<div id = "universal_form">
	<!--multiplat is true for uploading file-->
<%= form_for @inventory, html: {multipart: true} do |t| %>
	<% if @inventory.errors.any? %>
		<h2>Errors:</h2>
		<ul>
			<% @inventory.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	<%end%>	
	<p>	
		<%= t.label :Name %>
		<%= t.text_field :name%>
		<br />
		<%= t.label :Quantity %>
		<%= t.text_field :quantity%>
		<br />
		<%= t.label :Meter %>
		<%= t.text_field :meter%>
		<br />
		<%= t.label :Weight %>
		<%= t.text_field :weight%>
		<br />
		<%= t.label :SellPrice %>
		<%= t.text_field :sellprice%>
		<br />
		<%= t.label :Material %>
		<%= t.text_field :material%>
		<br />
		<%= t.label :Category %>
		<%= t.collection_select :category, @categories, :name, :name, :prompt=>true %>
		<br />
		<%= t.label :Type %>
		<%= t.collection_select :fabrictype, @type, :name, :name, :prompt=>true %>
		<br />
		<%= t.label :Link %>
		<%= t.text_field :link%>
		<br />
		<% if @inventory.id  %><!--kalau new berarti inventory.id belum ada-->
		<div id = "list_pic">
	
			<fieldset>
						<% @inventory.product_images.each do |f|%>
							<% if f.id != nil %>
								<div id ="list_pic_container">
									<%= image_tag(f.prod_img_url(:medium_thumb).to_s)%>
									<%= link_to 'x', remove_photo_inventory_path(@inventory, :prod_id => f.id), :confirm => "Buang Gambar?", :method => :delete, :id=> 'remove_picture' %>
								</div>
							<%end%>
						<% end%>
				
			</fieldset>
		</div>
		<% end %>
		
			<div id = "submit_button">
				Input Gambar Produk:
					<ul>
						<%= t.fields_for @product_images do |qty| %>                           
			                               <!--Where we upload multiple picture using carrierwave-->
			                               <li id = "picture"><%= qty.file_field :prod_img, multiple: true, name: "inventory[product_images_attributes][][prod_img]" %><a href ="#" id ="del_pic">x</a>|<a  href="#" id = "add_more_pic">More Pic</a></li><!--call paperclip upload file-->
			                               <% i = 1 %>
			                               <!--ini untuk membuat increment number di picture table, supaya bisa menentukan display picture, tp hanya angka 1 yang ter print-->
			                               <%= qty.hidden_field :displaypic,name:"inventory[product_images_attributes][][displaypic]", value: i %>
			                               <% i+1 %>
			            <%end%> 
			        </ul>  
	        <%= t.submit "Submit" %> <!--this submit button will go to controller create action-->
	        </div>
		<br />		
		</div>
	</p>	
<%end%>

