<!DOCTYPE html>
<html>
<head>
  <title>Shinfi</title>
  <%= stylesheet_link_tag 'application' , :media => 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <link href='https://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <div id="logo"><%= image_tag("LOGO.png") %></div>

  <%if current_user%>
    <div id ="session_container">
      
        
      

    </div>
  <%else%>
   <div id="head_menu"> 
          <ul>
            <li><%= link_to 'Home  |' , root_path %></li>
            <li><%= link_to 'FAQ |', root_path %></li>
            <!--<li><%= link_to 'Login', login_users_path %></li>-->
          </ul>
        </div>
  <%end%>
 <% if current_user && current_user.role == "Admin" %>
    <div id="head_menu">      
    		<ul>
          <li id="user_name">Welcome,<b><%= current_user.name %>!</b></li>
    			<li><%= link_to '| Home  |' , root_path %></li>
    			<li><%= link_to 'Orders |', orders_path %></li>
    			<li><%= link_to 'Orders - PO |', order_pos_path %></li>
    			<li><%= link_to 'Inventories |', inventories_path %>
            <ul class = "dropdown-menu">
              <li><%=link_to 'Category', categories_path%></li>
               <li><%=link_to 'Type', type_inventories_path%></li>
            </ul>
          </li>
    			<li><%= link_to 'Customers |', customers_path %></li> 
          <li><%= link_to 'Users |', users_path %></li>
          <li id ="logout"><b><%= link_to "logout!", log_out_path %></b></li>
    		</ul>
      </div>
        <%elsif current_user%>
        <div id="head_menu"> 
          <ul>
            <li><%= link_to 'Home  |' , root_path %></li>
            <li><%= link_to 'Inventories |', inventories_path %></li>
            <li><%= link_to 'My Page |', user_path(session[:user_id]) %></li>
            <li id ="logout"><b><%= link_to "logout!", log_out_path %></b></li>
          </ul>
        </div>
  <%end%>
</head>
<body>
  <div id="flash_notice">
    <% flash.each do |key , value| %>
    	<p><%= value%></p>
    <% end %>
  </div>
<%= yield %>

</body>
<footer>
  <%= render 'layouts/footer'%>
</footer>
</html>
