<!DOCTYPE html>
<html>
<head>
  <title>Shinfi</title>
  <%= stylesheet_link_tag 'application' , :media => 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <div id="logo"><%= image_tag("LOGO.png") %></div>
  <div id="head_menu">
  		<ul>
  			<li><%= link_to 'Home  |' , root_path %></li>
  			<li><%= link_to 'Orders |', orders_path %></li>
  			<li><%= link_to 'Orders - PO |', order_pos_path %></li>
  			<li><%= link_to 'Inventories |', inventories_path %></li>
  			<li><%= link_to 'Customers |', customers_path %></li>
  		</ul>
  </div>
</head>
<body>
<div id="flash_notice">
  <% flash.each do |key , value| %>
  	<p><%= value%></p>
  <% end %>
</div>
<%= yield %>

</body>
</html>
