<!DOCTYPE html>
<html>
<head>
  <% if current_user && current_user.role == "Admin" %>
    <div id="head_menu">      
        <ul>
          <li id="user_name">Welcome,<b><%= current_user.name %>!</b></li>
          <li><%= link_to ' Home ' , root_path %></li>
          <li><%= link_to ' Admin Page', admin_index_path %></li>
          <li><%= link_to ' Orders ', orders_path %>(<%=@new_order%>)|</li>
          <li><%= link_to ' Orders - PO ', order_pos_path %>(<%=@new_po_order%>)|</li>
          <li><%= link_to ' Inventories ', inventories_path %>
              <div class ="dropdown-menu">
                <ul>
                  <li><%=link_to 'Category', categories_path%></li>
                  <li><%=link_to 'Product Type', prodtypes_path%></li>
                  <li><%=link_to 'Fabric Type', type_inventories_path%></li>     
                </ul>
              </div>
          </li>
          <li><%= link_to 'Customers |', customers_path %></li> 
          <li><%= link_to 'Users |', users_path %></li>
          <li id ="logout"><b><%= link_to "logout!", log_out_path %></b></li>
        </ul>
      </div>
 
   <%end%>
  <title>Shinfi</title>
  <!--fb comment manage-->  
  <meta property="fb:admins" content="633293240"/>     
  <meta property="fb:page_id" content="1117317048288129" />  
  <% if @product_images %>

    <meta property="og:url"           content="<%=request.url%>" />
    <meta property="og:image"         content="<%= @product_images.prod_img%>" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="<%= @inventory.name%>" />
    <meta property="og:description"   content="Cari material handycraft yang lucu2 dan ngegemesin? disini tempatnya, ayu kunjungi website kita di www.shinfithecraft.com dan temukan kebutuhan craft kamu!" />
  <%end%>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72550183-1', 'auto');
  ga('send', 'pageview');

  </script>
  <%= stylesheet_link_tag 'application' , :media => 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <link href='https://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <div id="banner_index">
  <div id="banner_inner_container"> 
    <div id="promo">
          <div id="user_nav">
            <% if current_user %>
              Signed in as <strong><%= current_user.name %></strong>!
              <%= link_to "Sign out", signout_path, id: "sign_out" %>
                  <li><b><%= link_to ' My Page |' , user_path(:id => session[:user_id]) %></b></li>
              
            <% else %>
              <%= link_to "Sign in/register", login_users_path %>
            <% end %>
          </div>
                
          </div>
    <div id="logo"><%= link_to(image_tag("LOGO.png"),root_path)%></div>
    <div class="cart">
      <div id="cart_image"><%= image_tag("cart.png") %></div>
      <br>
      <div id = "cart_link">
        <%if session[:cart]%>
           <%= link_to 'Keranjang Saya', cart_index_path  %>(<%= session[:cart].count %>)
        <%else%>
           Belanjaan anda (0)
        <%end%>
      </div>
            <div id="cart_thumb_caller">|v </div>
            <br>
            <br>
            <!--OPEN PO CART SECTION-->
      <div id="cart_image"><%= image_tag("cart.png") %></div>
       <br>
       <div id = "cart_link">
        <%if session[:cart_po]%>
           <%= link_to 'PreOrder Item', cart_index_po_path  %>(<%= session[:cart_po].count %>)
        <%else%>
           PreOrder Item (0)
        <%end%>
      </div>
            <div id="cart_thumb_caller">|v </div>
            <!--OPEN PO CART SECTION ENDING-->
      <!--beginning of cart_thumb-->
      <% if session[:cart] && ((session[:cart_count] != session[:cart].count )||session[:cart].count == 1) %>
      <% session[:cart_count] = session[:cart].count %>
        <div id = "cart_thumb_content"><h2 style ="text-align:center;"><b>~Your Craft Kit~</b></h2>
        <hr>
      <%
      session[:cart].each do |id , quantity|
      product = Inventory.find_by(:id => id)
      prod_img = ProductImage.find_by(:inventory_id => id)
      %>
          <div id = "cart_thumb_prod_detail_container">
            <div id="cart_thumb_prod_pic"><%=image_tag(prod_img.prod_img_url(:medium_thumb).to_s)%></div>
            <div id="cart_thumb_prod_info">
              <ul>
                <li><b style ="font-size:1.2em;"><i><%=product.name%></i></b></li>
                <li><i><%= product.category %></i></li>
                <li><%= product.meter %> <%=product.ukuran%></li>
                <li><b><%= number_to_currency(product.sellprice, :unit => "Rp. ") %> / <%=product.satuan%></b></li>
              </ul>
            </div>
          </div>
            
        <%end%>
        <div class ="checkout_button">
            <%= link_to 'Checkout' , cart_index_path %>
         </div>
        </div>
      <%end%>
        <!--end of cart_thumb-->
    </div>
  </div><!--end for inner banner container-->
  </div>
  <div id="head_menu_anchor"></div>
         <div id="head_menu">
          <div id = "head_menu_aligner">
          <ul>
            <li><%= link_to ' Home  ' , root_path %></li>
            <li><%= link_to ' Fabrics ', fabrics_path%>
              <!--Menu harus diupdate secara manual?-->
              <div class = "dropdown-menu">
                  <ul>
                    <li class ="title_menu"><b><%= link_to 'All Fabrics', fabrics_path%></b></li>
                    <li><%= link_to 'Cotton', fabrics_path(:type => "Cotton")%></li>
                    <li><%= link_to 'Cotton Linen', fabrics_path(:type => "Cotton Linen")%></li>
                    <li><%= link_to 'Canvas', fabrics_path(:type => "Canvas")%></li>
                    <li><%= link_to 'Panel', fabrics_path(:type => "Panel")%></li> 
                  </ul>
              </div>
            </li>
            <li><a href ="#">Brands </a>
              <div class = "dropdown-menu">
                <div class = "dropdown-double">
                  <ul class = "submenu_container"> 
                    <li class = "title_menu"><b><a href ="#">U.S Premium Fabric</a></b></li>
                    
                    <li><%= link_to 'Michael Millers', fabrics_path(:category => "Michael Miller Fabrics")%></li>
                    <li><%= link_to 'Art Gallery Fabrics', fabrics_path(:category => "Art Gallery Fabrics")%></li>
                    <li><%= link_to 'Cloud 9', fabrics_path(:category => "Cloud 9")%></li>
                    <li class = "title_menu"><b><a href ="#">Our Private Brand</a></b></li>
                    <li><a href ="#">Shinfi's</a></li>
                  </ul>
                  <ul class = "submenu_container">
                    <li class = "title_menu"><b><a href ="#">Local Brand</a></b></li>
                    <li><a href ="#">Local Brand</a></li> 
                  </ul>
                </div>
              </div>
            </li>
            <li><a href ="#">Accessories </a></li>
            <% if current_user && current_user.role = "Member" %>
            <div id="member_menu">
                             <!--menu for loggeed in user that is not admin-->  
                <li><div id="prof_icon"><%= link_to(image_tag("profile.png"),user_path(:id => session[:user_id]))%></div>
                <div class = "dropdown-menu">
                <ul>
                  <li id ="mypage"><b><%= link_to "My Page", user_path(:id => session[:user_id]) %></b></li>
                  <li><b><%= link_to "logout", log_out_path %></b></li>
                </ul>
                </div>
              </li>
              <li><%= link_to(image_tag("shopping_bag_icon.png"),cart_index_path)%><%if session[:cart]%>(<%=session[:cart].count %>)<%end%></li>
              <li><%= link_to(image_tag("shopping_bag_po_icon.png"),cart_index_po_path)%><%if session[:cart_po]%>(<%= session[:cart_po].count %>)<%end%></li>
            </div>
            <%end%>
          </ul>
        </div>
        </div><!--end of head menu-->
     
</head>
<body>
  <!--facebook like plugin-->
        <div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1117317048288129',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
  <div id="flash_notice">
    <% flash.each do |key , value| %>
    	<p><%= value%></p>
    <% end %>
  </div>
<%= yield %>

</body>
<footer>
  <%= render 'layouts/footer'%>
</footer>
</html>
